.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    background: #460f11;
}

.login button{
    background-color: #73272a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.login-univ{
    width: 400px;
    height: 250px;
}