.chatIntro{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 6px solid #73272a;
}

.chatIntro h1{
    font-size: 32px;
    color: black;
    font-weight: normal;
    margin-top: 30px;
}

.chatIntro h2{
    font-size: 25px;
    color: rgb(85, 85, 85);
    font-weight: normal;
    margin-top: 5px;
    line-height: 200px;
    text-align: center;
}

